[2017-09-22 19:13] TobiasLundby opened #1 "Develop API for getting 'un'completed AED requests"
An API should be developed for getting the 'un'completed AED requests

[2017-09-22 19:14] TobiasLundby opened #2 "Develop API for getting all position requests from a requester"
An API should be developed for getting all the position requests from a single requester. This should be a list where the requester id is used as filtering.

[2017-09-23 11:22] TobiasLundby commented on #1
Solved, see wiki->API#get-requests

[2017-09-23 11:22] #1 closed, assigned to TobiasLundby

[2017-09-23 12:14] TobiasLundby commented on #2
Solved, see wiki->API#get-specific-requests

[2017-09-23 12:14] #2 closed, assigned to TobiasLundby

[2017-09-25 07:09] mhoejgaard opened #3 "Implement the webinterface node"

[2017-09-25 07:10] mhoejgaard opened #4 "Implement docking station (dummy) node"
Implement service to open and topic to report status.
Implement a simulation version such that it reports open after some amount of time when open service was called.

[2017-09-25 07:14] mhoejgaard opened #5 "Make the project poster"
It should be finished October 3rd.

[2017-09-25 07:15] TobiasLundby opened #6 "System concept design"
Perform a system design for UAS AED delivery.

[2017-09-25 07:18] bjarkips opened #7 "Implement the GCS control node"
Write a functional main function which calls all relevant services and publishes to relevant topics to fully control and monitor the delivery.

[2017-09-25 07:20] TobiasLundby commented on #6
@GaidarOS : description of the process
@bjarkips : diagrams of how the system is tied together

[2017-09-25 07:26] mhoejgaard opened #8 "Implement OES control node"
This node should control the OES

[2017-09-25 07:27] mhoejgaard opened #9 "Implement OES communication node"
This node should handle the GSM connection to the GCS.

[2017-09-25 07:29] mhoejgaard opened #10 "Implement geofence on OES"
The geofence node should monitor that the drone stays within the fence and report if not.

[2017-09-25 07:30] mhoejgaard opened #11 "Implement communication between FC and OES"
This may just be MAVROS.

[2017-09-25 07:31] TobiasLundby opened #12 "Database + web + API"
Construct database
Develop web interface for user requesting AED
Develop web interface for simple database viewing
Develop API for acessing and setting data in the databse

[2017-09-25 07:32] TobiasLundby commented on #12
Everything has been developed and tested
The wiki contains documentation of functionality and structure

[2017-09-25 07:32] mhoejgaard opened #13 "Implement a node handling an external GPS on the OES"
This node should get the data from an external GPS. It should also compare with the GPS position of the FC and report any errors for the OES control to take action.

[2017-09-25 07:34] mhoejgaard opened #14 "Implement geofence for GCS"
The geofence should make sure that a planned path is inside the required area.

[2017-09-25 07:35] TobiasLundby opened #15 "Develop a docking station"
Research components
Buy components
Construct
Test

[2017-09-25 07:36] mhoejgaard opened #16 "Implement a drone communication node for the GCS"
This node should handle mavlink and GSM communication

[2017-09-25 07:36] mhoejgaard commented on #16
The mavlink part is implemented as documented on google docs.

[2017-09-25 07:39] TobiasLundby opened #17 "Develop human interaction behaviour"
Research (for human feedback)
 - lighting
 - audio
 - etc.

[2017-09-25 07:40] mhoejgaard opened #18 "Implement a simple pathplanner"
This node should make a plan which makes the drone takeoff, fly to the goal in a straight line, and land at the goal.

[2017-09-25 07:41] mhoejgaard commented on #18
A simple pathplanner is fulfilling the requirements are implemented. See Wiki.

[2017-09-25 07:41] TobiasLundby opened #19 "Develop an interface to external control center"
We still need information in order to know how to develop this

[2017-09-25 07:43] TobiasLundby opened #20 "Perform a risk assessment for the UAS"
SORA application

[2017-09-25 07:47] TobiasLundby opened #21 "Build a simulation environment"
Gazebo based on UAST
Get the simulation up and running

[2017-09-25 07:49] TobiasLundby opened #22 "Develop infrastructure for indoor laboratory tests"
How to test indoors

[2017-09-25 07:54] TobiasLundby opened #23 "Outdoor tests at HCA Airport"

[2017-09-25 07:57] TobiasLundby opened #24 "Acceptance test at H.C. Andersen Golf"
12/12: Acceptance test at a golf course.
14/12: Acceptance test fallback day in case of poor weather on the 12/12.

[2017-09-25 07:59] #21 closed, assigned to mhoejgaard

[2017-09-25 07:59] #12 closed, assigned to TobiasLundby

[2017-09-25 08:00] #14 closed, assigned to mhoejgaard

[2017-09-25 08:36] mhoejgaard commented on #7
Fix eventual problems in other nodes.

[2017-10-02 07:04] GaidarOS commented on #5
Needs a delivery process diagram, sdu_uas logo and maybe more modifications

[2017-10-02 07:07] bjarkips commented on #7
Dummy services, clients and topics have been implemented for docking station, preflight and drone communication nodes.

[2017-10-02 07:28] #18 closed, assigned to nobody

[2017-10-02 07:29] #16 closed, assigned to nobody

[2017-10-02 07:33] mhoejgaard commented on #4
A simple dummy node is implemented. It includes a service which can open the docking station which just responds true.

[2017-10-02 07:33] #4 closed, assigned to tobiasrj20

[2017-10-02 07:36] mhoejgaard commented on #7
Still needs implementation of webinteface_node as it is not done yet.
Move to sprint 4

[2017-10-02 07:54] bjarkips opened #25 "Get MAVLink working on the OES"
Find and apply a MAVLink implementation, then set it up on the on-board computer.

[2017-10-02 08:01] bjarkips commented on #6
System diagram to be found under drawings in the team's Dropbox folder.

[2017-10-02 08:01] #6 closed, assigned to bjarkips, GaidarOS

[2017-10-03 06:47] mhoejgaard opened #26 "Make a system to handle drone_ids on the gcs"
Pull the available drone_ids from the database and use them in communication with the database

[2017-10-03 21:30] mhoejgaard commented on #7
Webnode interface have been implemented.
Current state: Working MVP
* flies whenever a mission is received
* set required states through the webinterface

[2017-10-03 21:30] #7 closed, assigned to mhoejgaard, bjarkips

[2017-10-03 21:32] mhoejgaard opened #27 "Change gcs_control from MVP to production"
Use the weather data in a sensible manner
Use information from docking station sensors and battery

[2017-10-03 21:34] mhoejgaard opened #28 "Add battery information to pre_flight checks"
Implement a battery check in the preflight node. The information is published on topic /drone_communication/battery. See rostopic type //drone_communication/battery for details

[2017-10-03 21:38] mhoejgaard commented on #3
An MVP webinterface is implemented. It pulls the database every second to check for a deploy request and subscribes on topics (see wiki) to perform the following actions:

- set preflight data
- set uav state
- set current location
- set drone id and eta (for a given AED request)
- set mission completed

[2017-10-03 22:15] mhoejgaard opened #29 "Document the gcs_node in the wiki"

[2017-10-03 22:18] mhoejgaard opened #30 "Document the docking_station_node in the wiki"

[2017-10-03 22:18] mhoejgaard opened #31 "Document the preflight_node in the wiki"

[2017-10-03 22:21] mhoejgaard opened #32 "Make dronekit run on OES"

[2017-10-07 12:36] #5 closed, assigned to GaidarOS

[2017-10-09 06:22] mhoejgaard commented on #32
Libxml.so is reported missing on installation of dronekit though it is installed. Must be looked further into.

[2017-10-09 06:32] mhoejgaard commented on #15
The docking station is done but we are waiting for components and connectiors

[2017-10-09 06:42] mhoejgaard opened #33 "Hardcode gps position of holes for situations with no gps"

[2017-10-09 07:00] bjarkips commented on #25
This issue is a duplicate of the one stating to get DroneKit working on the OES.

[2017-10-09 07:00] #25 closed, assigned to bjarkips, GaidarOS

[2017-10-09 07:00] mhoejgaard opened #34 "Make SORA"

[2017-10-09 07:04] bjarkips opened #35 "Get the drone flying"
Test, in the real world, standard MAVLink commands such as arming, takeoff, waypoints and landing.

[2017-10-09 07:04] TobiasLundby opened #36 "Make the OES ready"

[2017-10-09 07:06] TobiasLundby commented on #36
Finish the OES

[2017-10-09 07:18] TobiasLundby opened #37 "Update system overview"
Update and get a hold of what is missing in regards to code etc.

[2017-10-09 07:32] bjarkips opened #38 "Implement sniffing on OES"
Use the custom wiring from sprint 4 to listen to incoming MAVLink messages on the drone. This is to be done on a laptop until the OES is ready with DroneKit.

[2017-10-09 07:49] bjarkips commented on #31
Wrote page pre-flight under ROS/nodes in the wiki.

[2017-10-09 07:49] #31 closed, assigned to bjarkips, tobiasrj20

[2017-10-09 08:25] bjarkips commented on #8
This issue is outdated as we have moved away from running ROS on the OES.

[2017-10-09 08:25] #8 closed, assigned to nobody

[2017-10-09 08:30] bjarkips commented on #9
This is no longer a node, but rather a DroneKit script

[2017-10-09 08:32] bjarkips commented on #11
This is now a duplicate of "Implement the OES Communication node".

[2017-10-09 08:32] #11 closed, assigned to nobody

[2017-10-09 09:25] #30 closed, assigned to tobiasrj20

[2017-10-09 09:30] bjarkips opened #39 "Refine path planner node"
Update the path planning algorithm to something more sophisticated.

[2017-10-09 09:31] bjarkips commented on #39
Consult team 1 for inspiration.

[2017-10-09 09:33] bjarkips opened #40 "Add sensors to docking station"
Add temperature and humidity sensors to the docking station and update the node to incorporate them.

[2017-10-09 09:34] bjarkips opened #41 "Add actuators to docking station"
Add actuators for opening/closing of docking station. Update the node to incorporate them.

[2017-10-09 09:37] bjarkips opened #42 "Implement GSM backup telemetry"
Implement a control scheme on the GCS for the GSM telemetry link. Update drone communication node as needed.

[2017-10-09 09:41] bjarkips commented on #38
This issue should also include some basic failsafe procedures as a response to relevant messages. E.g. return to home, termination of flight, etc.

[2017-10-09 09:47] bjarkips opened #43 "Implement LED control on the OES"
Mount LEDs on the drone and implement their control behaviour on the OES.

[2017-10-09 09:50] bjarkips opened #44 "Implement on-board GPS controls"
Interface the external GPS module. Use its readings to monitor the px4's GPS fix and to check that the drone stays within its geofence.

[2017-10-09 11:12] bjarkips commented on #37
Documented in `dropbox/UASD_share/Drawings/2017-10-09_System_overview.jpg`. Github issues, milestones and labels have been updated accordingly.

[2017-10-09 11:12] #37 closed, assigned to bjarkips

[2017-10-16 13:41] TobiasLundby commented on #35
I have received an answer from SkyWatch with things to try in order to fix the battery problem

[2017-10-16 13:41] TobiasLundby opened #45 "Implement approved and rejected feature"
This feature should be implemented in the database along with new APIs to use the feature. The existing API and UI/web interface should likewise be updated and tested.

[2017-10-23 07:19] mhoejgaard commented on #38
Sniffing is tested and implemented in the OES sniffer.

[2017-10-23 07:31] mhoejgaard commented on #36
All packages should be installed. Everything but the serial pins should be working.

[2017-10-23 07:33] mhoejgaard commented on #45
It works! We won't spend anymore time on it.

[2017-10-23 07:33] #45 closed, assigned to TobiasLundby

[2017-10-23 07:44] mhoejgaard commented on #15
We don't order the power diodes, as they will require huge cooling plates. Instead we will use the board developed by SDU (if it gets ready).

[2017-10-23 07:53] mhoejgaard commented on #15
Postponed until we get the connectors.

[2017-10-23 07:55] mhoejgaard commented on #32
It is running.

[2017-10-23 07:57] mhoejgaard commented on #34
We close this issue and split it up in some more sensible ones.

[2017-10-23 08:20] mhoejgaard commented on #13
It is implemented as python script GPSHandler.py.

[2017-10-23 08:22] TobiasLundby opened #46 "SORA: training"
Document how the crew should be trained in the "SORA (operation)"

[2017-10-23 08:22] tobiasrj20 opened #47 "Sora - Finish the UA segment"

[2017-10-23 08:34] mhoejgaard opened #48 "Finish MVP version of OES software"
The software should be able to perform all required functions:
* Receive and monitor (compare) built-in and external GPS.
* Use a gsm module.
* Monitor connections (sniffing).
* Control the drone using dronekit.
* Take required action

[2017-10-24 07:16] mhoejgaard opened #49 "Setup gsm modem on OES"

[2017-10-24 07:18] bjarkips opened #50 "SORA: Perform risk assessment"

[2017-10-24 07:18] mhoejgaard commented on #42
Drone part is implemented as GsmReceiver and GsmListener in GsmHandler.

[2017-10-24 07:41] mhoejgaard opened #51 "Add terminate, abort (return to launch), and land (at current location) to web administration and OES"
The OES should just read the gsm_command_queue and act upon it.

[2017-10-24 07:43] bjarkips commented on #50
Duplicate issue.

[2017-10-24 07:43] #50 closed, assigned to bjarkips

[2017-10-24 07:57] tobiasrj20 commented on #43
We need to make a simple PCB with FETs to control the Leds.

[2017-10-24 08:09] TobiasLundby commented on #10
There is a problem with obstacles inside the geofence but otherwise it is working

[2017-10-24 10:47] mhoejgaard opened #52 "Fix argument error in prefligt service calls in gcs_control_node"
[ERROR] [1508838780.603687652]: Service call failed: service [/pre_flight_node/preFlight] responded with an error: error processing request: Invalid number of arguments, args should be ['result', 'temperature', 'humidity', 'windSpeed'] args are(True,)

[2017-10-24 10:53] mhoejgaard opened #53 "Fix error experienced in web_interface when receiving a mission"
Traceback (most recent call last):
  File "/home/mathias/UASD/catkin_ws/src/GCS/src/web_interface_node.py", line 54, in <module>
    main()
  File "/home/mathias/UASD/catkin_ws/src/GCS/src/web_interface_node.py", line 40, in main
    (update_count,lat,lng,alt) = interface.getDeployRequest()
  File "/home/mathias/UASD/git/UASD/GCS/src/web_interface.py", line 47, in getDeployRequest
    if(not self.

[2017-10-24 10:55] mhoejgaard opened #54 "Improve checks in gcs_control/drone_control to ensure that parameters and mission are actually received on the drone"
Mission and parameters should be resent a number of times and the state checked before failure is reported

[2017-10-24 12:24] mhoejgaard opened #55 "SORA: Describe standard/abnormal operation procedures (check lists)"
Standard: A description of who normally does what.
Abnormal: "Checklist" description of who does what when abnormal things happens
   - The pilot
   - Who calls naviar
   - Etc.

[2017-10-24 12:27] mhoejgaard opened #56 "Monitor cell voltage on ground station"
The cell voltage should be monitored to ensure proper battery health. It should be handled by the preflight node.

Kristian Husum has a circuit for two cells which might be extended.

[2017-10-24 12:27] TobiasLundby commented on #56
Look at http://raspi.tv/2015/raspio-duino-as-a-lipo-monitor

[2017-10-24 12:34] mhoejgaard opened #57 "Implement motor cutoff board"
The electronic workshop will make a board that cut off the pwm signal when a pin is pulled low or high.

For safety it should probably require one pin to be pulled high, and another pin to be pulled low.

Kjeld is responsible for contacting the electronic workshop.

[2017-10-24 16:58] mhoejgaard commented on #53
The above error means that the values returned by the api are an indexed list whereas it was a standard json list before.

The change from standard to indexes list was an error on the database side. It has now been returned to a regular json list.

No further work needs to be done on the ros web_interface_node.

[2017-10-24 16:58] #53 closed, assigned to mhoejgaard

[2017-10-24 17:04] mhoejgaard commented on #44
The gps monitoring is implemented as described in the wiki. We basically make sure that we get positions from both the external and internal gps at all times and signal an error if we don't. We also check the distance between the positions, and signal an error if it is too large.

[2017-10-24 17:32] mhoejgaard commented on #48
The software is capable of performing the desired actions and have been tested partially in simulation and practice.

The current state is:

* Gps receiving and comparison
   1.  The gpsHandler is capable of receiving nmea messages. The messages are stored and available through get_position()
   2. The gpsMonitor ensures a gps posititon is received from both the internal (only tested with simulati

[2017-10-24 17:38] mhoejgaard commented on #42
Ground Control Part is implemented as gsm_listener and gsm_talker.

The talker transmits from a rostopic to rabbitmq topic /toDrone'. It also transmits a periodic heartbeat.
The listener listen to rabbitmq topic /toGcs' and publishes to a rostopic. It also reports the connection state based on when the last heartbeat was received.

[2017-10-24 17:38] mhoejgaard commented on #42
Still missing wiki documentation.

[2017-10-24 17:56] mhoejgaard commented on #42
Wiki documentation completed.
Closing issue for now.

[2017-10-24 18:02] mhoejgaard commented on #51
They are all added to the OES.

Use caution from now on, as a terminate will disarm the drone in-air!

[2017-10-24 18:04] mhoejgaard commented on #22
This is mostly for our own sake.

The staff will work hard on getting the indoor gps up and running.

[2017-10-29 16:44] mhoejgaard commented on #54
The setup is changed from laying in the missionUploadCallback to a be handled by a state machine. The functionality is tested and working well.

The simulator still has a tendency to report datalink loss and thus reject the correct setup. The error is not consistent, and further improvement is thus postponed until a number of tests on the real px4 has been performed.

[2017-10-29 18:10] mhoejgaard commented on #54
Added intervention services:
- /drone_communication/loiter: Loiter at current position
- /drone_communication/continueMission: Continues mission if loiter was called
- /drone_communication/land: Lands at current position
- /drone_communication/returnToLaunch: Returns to launch with built in RTL
- /drone_communication/disarm: Disarms the drone in-air

[2017-10-29 18:10] #54 closed, assigned to mhoejgaard

[2017-10-29 18:32] mhoejgaard commented on #54
Changes documented in wiki.

[2017-10-29 19:35] mhoejgaard commented on #42
The gcs gsm_talker and listener should be used in either drone_communication or gcs_control.

[2017-11-01 07:36] mhoejgaard commented on #51
Land at current location, terminate, return to launch and wait on spot is added as rosservices provided by the drone communication node.

[2017-11-01 07:59] TobiasLundby opened #58 "Implement mode safety feature on GCS and OES"
Make a check in both the OES and GCS where it checks that the drone has been set in altitude hold mode because the manual mode should be protected for the pilot to use (understood as the GCS and OES shall not change the drone state if it is in manual).

[2017-11-01 08:00] #47 closed, assigned to tobiasrj20, GaidarOS

[2017-11-01 08:03] bjarkips commented on #20
Perform dummy calculations for numbers to be added later.

[2017-11-01 08:26] TobiasLundby opened #59 "A* Path Planner"
It is actually made but it needs testing and then implementation of the geofence. Interpolation should also be added. Remember documentation.

[2017-11-01 08:33] TobiasLundby opened #60 "Finish MVP of GCS"

[2017-11-01 08:40] tobiasrj20 opened #61 "Fix Latex subfiles"

[2017-11-01 08:42] mhoejgaard commented on #36
We cannot connect to the pixhawk on telemetry port 2.

[2017-11-01 08:44] TobiasLundby commented on #35
Improve the antenna placement and look into the safety switch along with the battery problem still present. Regarding the battery problem, Michael from Sky-Watch suggested changing the min and max of the battery cells.

[2017-11-01 08:45] tobiasrj20 commented on #59
Duplicate

[2017-11-01 08:45] #59 closed, assigned to tobiasrj20

[2017-11-01 08:46] tobiasrj20 commented on #39
It is actually made but it needs testing and then implementation of the geofence. Interpolation should also be added. Remember documentation.

[2017-11-01 08:48] GaidarOS commented on #43
We decided to use a stronger LED with siren in the bottom of the drone. It can be turned on through the  GPIOs on the OES.

[2017-11-01 08:51] mhoejgaard commented on #58
It should be implemented in the onboard control (OES) and drone_communication setup (GCS).

[2017-11-01 08:54] mhoejgaard commented on #44
We need to use it for the geofence and check that it is actually working on the toradex board. Closed as other issues include the missing stuff.

[2017-11-01 08:57] mhoejgaard commented on #14
The geofence was implemented on september 25, but we forgot to write it here.
The geofence is tested and works, but the obstacles stills needs testing.
Obstacles should only be tested if we need them.

[2017-11-01 09:36] tobiasrj20 commented on #61
The issue have been fixed

[2017-11-01 09:36] #61 closed, assigned to tobiasrj20

[2017-11-01 13:57] bjarkips commented on #52
Fixed in devel.

[2017-11-01 13:57] #52 closed, assigned to bjarkips, tobiasrj20

[2017-11-01 21:12] mhoejgaard commented on #10
Obstacles are removed as we don't use them.
Loading from file implememented. It must be a csv file with the structure:
lat, lon
lat, lon
...

Implemented in OES.py by adding path to geofence file as parameter

[2017-11-01 21:15] mhoejgaard commented on #36
Today have been a substantial amount of testing.

We have learned that
- python has access to read and write on uart
- the uart works when tested with screen
- pymavlink works through usb
- dronekit tries to establish connection but does never get a response (USB and UART)

Vasilis will make a post in the toradex community and maybe a mavlink github issue.

[2017-11-01 21:59] mhoejgaard commented on #58
The onboard functionality is implemented.

The dronehandler listens for changes in mode and stores them in an attribute which is accessible by droneHandler.get_mode(). This method is used in onboardControl such that the control part of the while loop is skipped (with continue) if the mode is `Manual` or `None` (not set yet)

[2017-11-01 22:01] mhoejgaard commented on #58
The gcs part must be developed with the drone present, as the mode has to be checked. dronekit reports `MANUAL` as `STABILIZE` while mavros reports `AUTO.LOITER`. This has to be investigated before the safety can be implemented.

[2017-11-01 22:04] mhoejgaard commented on #17
A blue flashing light has been mounted beneath the drone. The electronics from it has been removed and will be replaced with a more powerful diode. The light also had a siren which was removed because it was too low. We have found a real siren that we will order. @tobiasrj20 will specify the details.

[2017-11-06 08:14] mhoejgaard commented on #36
Our toradex has gone missing, so we cannot work on it before we find it.

[2017-11-06 08:16] GaidarOS commented on #36
the link to the forum post https://www.toradex.com/community/questions/17183/serial-connection-between-vf61-and-pixhawk21.html

[2017-11-06 08:16] TobiasLundby commented on #36
Kjeld (supervisor) suggested trying to run the software he is making since it should be more lightweight and also work on the new telemetry we will get.

[2017-11-06 08:24] TobiasLundby commented on #35
The telemetry is not working currently

[2017-11-06 08:29] TobiasLundby commented on #15
We need to order a new balance cable for the 4S batteries

[2017-11-06 15:21] TobiasLundby commented on #35
The drone has been 'cleaned' up so it is not a wire and cable tie mess as before. A holder for the batteries (2 pcs.), AED, and rotor light has been added to the bottom of the drone. A holder for the GPS and GSM module has been made and 3D printed.

[2017-11-06 18:44] mhoejgaard commented on #58
The GCS part is implemented as part of the setup routine. The setup routine simply will not start if the rc sets the drone in manual mode.  As long the rc is in manual mode the drone communication node will report an error. As soon as the mode is switched to something else, the setup will continue. While the setup is not complete (not in idle state), the node also rejects upload mission requests.

[2017-11-07 09:15] bjarkips commented on #28
Implemented through MAVLink using ```/drone_communication/batteryStatus/voltage```. Dummy version of individual docking station cell voltages implemented using ```/docking_station/dock_data/voltage```.

[2017-11-07 09:18] bjarkips commented on #56
Implemented in pre-flight node. Needs updating in docking_station_node after the hardware has been put in place.

[2017-11-07 09:19] bjarkips commented on #41
This is no longer desired as a feature to be implemented on the docking station.

[2017-11-07 09:20] bjarkips commented on #40
Temperature and humidity is probably no longer desired, battery monitoring should, however, be implemented.

[2017-11-07 10:04] mhoejgaard opened #62 "Ensure mission upload are correct and complete"
MAVROS has been experienced to report a mission upload as complete, even though it is not complete. See attached terminal output.

It may be fixed by retrieving the mission and comparing it to the uploaded mission.

[2017-11-07 10:09] TobiasLundby commented on #62
Output from gcs_control_node
[code]

[2017-11-07 10:11] mhoejgaard opened #63 "Make the drone fly faster"
The drone currently flies at a predefined speed.  We need it to fly as fast as possible.

[2017-11-07 10:11] TobiasLundby commented on #62
Output from drone_communication_node
[code]

[2017-11-07 10:18] TobiasLundby commented on #62
The outputs above resulted in the drone only receiving / understanding 1 waypoint even though it approved the mission. The drone therefore did not take off as normal but went straight for waypoint 1 (number starts from 0) at a high speed and then auto loitered above the landing point.

[2017-11-07 10:21] TobiasLundby commented on #57
We have received the circuit diagram and board layout from the supervisor but we still haven't gotten the physical board.
Vasilis has made the code for pulling the outputs in order to enable and disable the motor cutoff.

[2017-11-07 10:26] TobiasLundby commented on #49
As of now we still haven't received the GSM board.

[2017-11-07 10:28] TobiasLundby commented on #40
We have received temperature and humidity sensors

[2017-11-07 10:32] TobiasLundby commented on #35
We still experience a problem with the battery and telemetry (even after we got an original 3DR 433MHz telemetry module). We hope that a 4S battery will fix the battery issue but we haven't received them yet.

The GPS antenna stills needs to be moved and the 2nd for the OES needs to be mounted but due to the state of the OES computational unit this has been postponed a bit.

[2017-11-07 10:38] tobiasrj20 commented on #39
The path-planner is working, but does not find the shortest path.
I am currently working on a solution to this.
It seems like the edge detector is very slow when we have a lot of nodes. Maybe we need to do something about this.
Documentation is still missing.

[2017-11-07 10:39] TobiasLundby commented on #35
The DX9 transmitter needs to be setup instead of the DX6 so we have more channels if needed.

[2017-11-07 10:41] TobiasLundby commented on #23
Today (07/11-2017) we made several successful outdoor tests only with minor problems or dropouts in the telemetry communication. The problem with the battery also still existed but this was also due to the cold weather (~3 deg C). The people involved in the test were Mathias and Tobias L.

[2017-11-07 10:42] bjarkips commented on #60
Double checked the project description and ROS diagrams for missing elements, the GCS seems to include everything we wanted it to. Added battery voltage monitoring through ```drone_communication_node``` and dummy cell monitoring through the docking station. Minor changes to ```gcs_control_node``` state transitions.

[2017-11-07 10:43] TobiasLundby commented on #19
We still haven't received the API for the external interface which is the drone id system [(Drone ID)](https://droneid.dk/borger/).

[2017-11-07 12:52] mhoejgaard commented on #62
A simple solution to the problem has been added. Upon a successful mission upload it pulls the number of waypoints from the drone and ensures that it matches the number of waypoints in the mission before allowing the state machine to continue to the deploy. The check is performed 10 times with a 1 second timeout in between. If the check is not passed, the mission will be re-uploaded in up to 10 tr

[2017-11-07 13:00] mhoejgaard commented on #62
The implemented solution should be sufficient as the mission is cleared during setup and mavlink uses a checksum on each package.

If this is not sufficient a pulled version of the mission should be compared the mission that was sent. We do not desire to it if not necessary because each transmission of waypoints adds several seconds of delay.

[2017-11-07 13:23] tobiasrj20 commented on #56
Kjeld says that they will make a board capable of monitoring the battery cells, so we should not use any more time on this before we get the board.

[2017-11-07 15:37] mhoejgaard commented on #63
Tried adding a waypoint of type MAV_CMD_DO_CHANGE_SPEED first in the mission list to change the mission speed. It did not work as it should be sent as a command long according to: http://python.dronekit.io/examples/guided-set-speed-yaw-demo.html

[2017-11-07 18:25] TobiasLundby commented on #35
The Spektrum DX9 transmitter has been set up and the functionality has been confirmed through QGC but not in real life since we were at uni and the compass needed calibration.

[2017-11-07 18:30] TobiasLundby opened #64 "Drone mount improvement"
The mount underneath the drone should be improved by making it ~1cm shorter (when used with the current legs).
The AED 'hole' should also be made bigger but since we do not know the dimensions of the AED with pads etc. the supervisor advised to wait with this until he got a complete AED.
It would make sense to rotate the battery compartments so the batteries are laying instead of standing since it

[2017-11-07 18:33] TobiasLundby opened #65 "New drone legs"
New legs for the drone should be made. Carbon fibre rod has been ordered but still needs to arrive (hopefully they should have arrived by the start of week 46). The task, therefore, consists of making CAD drawings for mounting the legs to the drone and making a mount so 2 carbon fibre rods can be combined as a T-shape. [Inspiration](https://sc01.alicdn.com/kf/HTB1bpDEKpXXXXXeXXXX760XFXXXp/20051183

[2017-11-07 18:47] TobiasLundby opened #66 "API denying requests"
The python scripts using the API sometimes experience denies from the server when ~10 API calls are made per sec.
One.com has been contacted about the HTML error 429 (Too Many Requests) and they respond by saying that it should not be a problem; Tobias has also investigated the server log and no occurrences of the error was present but presumably this is due to outer layers on the server (since it

[2017-11-07 18:50] TobiasLundby commented on #17
The needed components have been fetched from the component place and it needs to be built.  @TobiasLundby knows the circuit and should be able to make it within a couple of hours. A logic converter board (3.3V to 5V and the other way around) has been ordered from SparkFun which should make any logic level problems easier and it is maybe also suitable for other applications or digital components.

[2017-11-07 18:53] TobiasLundby commented on #17
The LED we want to use it a [link](http://www.dx.com/p/t10-sv85-ba9s-10w-12000k-800-lumen-20-5630-smd-led-white-light-car-indoor-lamp-dc-12v-112585) (10W white LED powered by 12V thereby drawing ~0.83A)

[2017-11-07 19:09] mhoejgaard commented on #63
The test above did not work.

[2017-11-07 19:14] mhoejgaard commented on #63
Two parameters controlling the speed of the drone was found:
MPC_XY_VEL_MAX: Maximal vertical speed in all automodes and some manual modes.
MPC_XY_CRUISE:  The speed in mission and some auto modes, capped to MPC_XY_VEL_MAX.

The parameters has been added to the setup. MPC_XY_VEL_MAX is set first, and then MPC_XY_CRUISE is set. They are set to the defined value SPEED that may be integer values in t

[2017-11-07 19:17] #62 closed, assigned to mhoejgaard

[2017-11-07 19:29] mhoejgaard commented on #63
Just in case:

All parameters in the parameter reference has been search through for a value of 7 with no result. Like wise no results were found in the parameters of the simulator that can explain why the speed is limited to 7.0 in simulation.

We will wait and see the result of the practical test.

[2017-11-08 17:16] mhoejgaard opened #67 "Make mavros faster"
Mavros is extremely slow at the beginning because it requests all parameters from the drone. It also seems to request mission lists and perhaps other things. The problem is observed practically but not in simulation. Mavros has always been started with px4.launch which in turn starts node.launch.

Kjeld has provided his launch file which must be examined and tested.

[2017-11-08 17:31] mhoejgaard commented on #67
The file provided by Kjeld (with addition of a missing tags):

    <node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" respawn="true">
       	    <param name="fcu_url" value="/dev/autoquad_telemetry:115200" /-->
            <param name="gcs_url" value="" />
            <param name="target_system_id" value="1" />
            <param name="target_component_id" value="1" />
    </

[2017-11-08 17:40] mhoejgaard commented on #67
The major difference between the file provided by Kjeld and px4.launch is that the px4 file passes a configuration and plugin file as arguments specific for the px4.

The file provided by Kjeld has been tested on the drone using the telemetry modules and seems to work fine - without requesting all the parameters. It has also been tested in simulation and seems to work fine during the whole flight

[2017-11-08 17:40] #67 closed, assigned to mhoejgaard

[2017-11-08 17:41] mhoejgaard commented on #67
The code for launching is given on the wiki in the MAVROS section and added in as mavros_uasd_drone.launch and mavros_uasd_simulation.launch in the gcs package.

[2017-11-12 13:33] TobiasLundby commented on #51
The 3 features (called stopped in my posts) have now been added to the webpage and database. It is implemented such that a request can only be stopped after it has been approved; so alongside the complete option. Therefore as soon as the request has been completed it is not possible, using the UI, to stop the request. The overview of the requests has also been updated such that is has a table for

[2017-11-12 15:37] TobiasLundby commented on #51
An API has now been made [Wiki link](https://github.com/RMUASD-Team2-2017/UASD/wiki/API#get-request-stop-terminate-abort-land). The API has been tested and works!

A 'pulling' script needs to be made and run on the OES so it can check the state of the request it is flying.

[2017-11-12 15:44] TobiasLundby opened #68 "Calculate ETA"
Make a program which does the following:
 1. calculate the distance between two coordinates using great circle distance; [link](https://en.wikipedia.org/wiki/Great-circle_distance).
 2. make an iterative function which takes a path and uses the above func and returns the total distance which needs to be flown.
 3. calculate the time required to travel the above calculated total distance using a ve

[2017-11-13 08:09] tobiasrj20 commented on #39
Pathplanner is finished.
It finds the shortest path. But it needs to be tested in the simulator, can't get that part to work?
Documentation is still missing.

[2017-11-13 08:13] GaidarOS commented on #36
Changed the testing board from Iris to Viola and the UARTs started working. That could mean an issue with the Iris board. Some basic tests with "dronekit" and "pymavlink" were made and they both work on both UART-B and UART-C on the Viola board. The some of the GPIOs(Viola) also were tested and work.

[2017-11-13 08:14] bjarkips commented on #60
Reopened to implement GSM link monitoring.

[2017-11-13 08:18] #27 closed, assigned to nobody

[2017-11-13 08:22] bjarkips commented on #56
The hardware implementation of this (involving the docking_station_node setup) is not our concern according to Kjeld. The software implementation will be left in in its current dummy form.

[2017-11-13 08:27] GaidarOS commented on #55
Created a file in (Dropbox)UASD_share/SORA/Standard_Operating_Procedures.docx . It describes the process with as much information and details i thought should be in there. I has several comments regarding the content and weather we need more or less of it. As of right now it has no process for Naviair contacts.

[2017-11-13 09:46] mhoejgaard opened #69 "Send preflight information from GCS"
The GCS should transmit preflight information as specified in the web api documentation in the wiki.

The simplest solution is to make a service/topic analog to the `mission complete` in webinterface node.

[2017-11-13 11:36] mhoejgaard commented on #51
A web interface module has been implemented in the OES. It polls the api at 1 Hz and puts terminate, land, and return to launch commands in the command queue.

[2017-11-13 14:58] mhoejgaard commented on #63
The physical drone has been tested with 1 m/s and 15 m/s. The speeds seems to be right  although we have not officially measured them.

[2017-11-13 14:58] #63 closed, assigned to mhoejgaard

[2017-11-13 15:49] mhoejgaard opened #70 "Make the drone brake in a better way"
The drone brakes so hard at a speed of 15 m/s that it enables a battery fail safe because an excessive amount of current is drawn.

It may be fixed by reducing the speed when we get near the final waypoint. It should probably be done on the OES as the telemetry is currently very bad.

[2017-11-13 22:04] TobiasLundby commented on #68
A PHP script has been made to simply calculate the time needed for flying, this includes take-off and landing and uses the Great Circle distance but only between to coordinates.

[2017-11-13 23:45] mhoejgaard commented on #69
The preflight information is implemented as a service in the webinterface_node. It posts current and target position along with wheather data when the drone is about to start a mission. The service is called in the gcs_control_node.

The solution is tested working.

[2017-11-13 23:46] #69 closed, assigned to mhoejgaard

[2017-11-14 11:48] bjarkips commented on #20
Updated SORA Risk Assessment in Drive to include quantitative estimate of fatalities per flight hour.

[2017-11-20 07:55] tobiasrj20 commented on #40
The temperature and humidity sensor have been interfaced to a raspberry pi 3.
A python node which publish the temperature and humidity have been implemented and is tested.

[2017-11-20 07:55] bjarkips commented on #42
The remainder of this task is covered by the "MVP of GCS" issue(#60). Closing issue.

[2017-11-20 08:08] mhoejgaard commented on #51
Needs to be tested in practice!

[2017-11-20 08:21] mhoejgaard commented on #35
Closed until we find other problems.

[2017-11-20 08:21] tobiasrj20 commented on #40
Needs to be tested with the full system

[2017-11-20 08:21] TobiasLundby commented on #68
The GCS already used the proper API's so the website calculated the ETA. The flying speed is currently set to ~ 7 m/s and it has been tested and works.

[2017-11-20 08:21] #68 closed, assigned to TobiasLundby

[2017-11-20 08:21] tobiasrj20 commented on #39
Needs to be tested on the full system

[2017-11-20 08:21] mhoejgaard commented on #48
The software is tested on the toradex without hardware connected. It still needs to be tested with gps, gsm, and sniffing.

[2017-11-20 08:23] tobiasrj20 commented on #15
Needs to be tested if the drone can take off from the docking station.

[2017-11-20 08:23] TobiasLundby commented on #17
A system using an Arduino Nano along with programmable LEDs and normal LEDs has been developed and this is documented in the wiki.

[2017-11-20 08:24] mhoejgaard commented on #57
The board is ready and Kristian Husum is testing it. We should get it today and be able to test it.

[2017-11-20 14:08] tobiasrj20 commented on #15
The drone is capable of taking off from the docking station.

[2017-11-20 20:17] mhoejgaard commented on #48
Testing on Toradex:
All modules seems to be working but very slow.
Timeout increased heavily in pika blocking connections.
Mode changed in dronekit seems to be delayed by 30-60 seconds.

[2017-11-20 20:33] mhoejgaard commented on #48
Webinterface not tested due to persistent gsm error that could not be solved.

[2017-11-21 09:34] TobiasLundby commented on #17
The program used for controlling the LEDs, siren etc. have been tested on a more realistic system. There has also been made a quick circuit for mounting on the drone.

[2017-11-21 11:09] mhoejgaard opened #71 "Improve the telemetry"
There are 2 issues with the communication
* The communication to the drone is very slow due to a complete parameter list being transmitted at the start of MAVROS.
* The link is lost at just 50 meters or so.

[2017-11-21 11:10] mhoejgaard commented on #71
Some of the delay have been reduced by using a stripped down launch file that does not request the parameters.

[2017-11-21 11:21] mhoejgaard commented on #71
868 MHz based telemetry with software that is capable of skipping packages has been tested. It basically works but are not able to transmit parameters. When the parameters in setup are disabled, it works but times out a lot and uses op to 5-10 trials. It has succeeded to arm the drone 3 times. The WP_TIMEOUT_MS = 1000 parameter in mavros/mavros/src/plugins/waypoint.cpp has been changed to 3000 and

[2017-11-21 21:58] mhoejgaard commented on #48
Webinterface tested working on Pi.

[2017-11-21 22:00] mhoejgaard commented on #48
It has been decided to move the system to an RPi and use a regular 4G modem if allowed.

A 4G modem has been tested working very good with the RPi. The setup is documented in the wiki.

The dronekit part of the dronehandler has been translated to pymavlink, as dronekit kept reporting errors due to a seemingly hardcoded timeout.

[2017-11-24 21:15] mhoejgaard commented on #48
The RPi has been set up with:
* 4G module (tested and working)
* udev rules for rx-sniffing and gps (the fc connection uses serial0 on the gpio)

The OES has been configured to read port settings from a config file named *config.cfg" placed in the OES/src/ directory.

OES.py has been tested in the lab and seems to work. It still needs to be tested outside with GPS fix on both GPS-modules. Should b

[2017-11-26 18:48] TobiasLundby commented on #17
A circuit along with serial wiring to all the LEDs on the drone has been completed using just one UBEC; the new ones had not arrived yet. Upon testing it was discovered that the MOSFETs did not react as intended. Fixing this error was postponed since testing and gathering flying hours with the whole system was deemed more necessary.

[2017-11-26 18:50] TobiasLundby commented on #17
I think I've found the bug in the made PCB; P.S. drain and gate of a MOSFET should be connected correctly. This has been fixed on the PCB but the PCB has not been tested. Alongside both a circuit has been made and documentation of the headers on the PCS for easier connection by the rest of the group.

[2017-11-27 08:41] bjarkips commented on #60
GSM link monitoring includes checking the ConnectionMonitor and GpsMonitor states in the pre-flight check and during the flight.

[2017-11-27 08:46] mhoejgaard commented on #49
We have been allowed to use a 4G modem which has been set up as described in the wiki.

[2017-11-27 08:50] GaidarOS commented on #55
Created new documents for each role(supervisor, pilot, assistant 1 and 2, observers) with bullet-point format to make it easier to follow and identify the situation and corresponding process. At the time of writing this they lack some contact information in case of accidents.

[2017-11-27 09:13] mhoejgaard commented on #71
The communication is definitely slowed by the request of a full parameter list from mavros.

It has been attempted to disable it in the mavros configuration files without luck. For now it has been commented out of the code, and it seems to work. In the file `catkin_ws/src/mavros/mavros/src/plugins/param.cpp`  all lines (513-518) in the function param_request_list() has been commented out.

[2017-11-27 16:33] mhoejgaard commented on #71
The 868-modules are capable of clearing the mission list, changing to mission mode, and uploading the mission in first attempt provided that the following steps are taken:
* All unnecessary packages are dropped (see Kjelds source)
* All mission packages (37-47) except from 43 (current waypoint) has no frequency limit
* All other packets that are not dropped, has a max frequency of 1 Hz.
* In catki

[2017-11-27 20:48] mhoejgaard commented on #48
The DroneHandler_pymavlink has been improved to maintain a state for the completion of the mission.

The mission is divided into the following states:
* Idle: Before the drone is armed.
* Takeoff: The drone is ascending.
* Enroute: The drone flies toward the destination.
* Landing: The drone is descending.
* Landed: The drone is disarmed and safe to approach.

The Onboard control has been modified

[2017-11-28 08:44] tobiasrj20 opened #72 "Budget"
Write a budget for further development and for a single installation

[2017-11-28 09:17] tobiasrj20 commented on #64
Cleanup the wiring and mount the Raspberry Pi instead of the Toradex board.

[2017-12-04 08:09] mhoejgaard commented on #57
Methods for controlling the board has been implemented in the rpiGPio module as documented in the wiki, and the board has been mounted.

[2017-12-04 08:14] TobiasLundby commented on #65
The end and T joints have been CAD drawn but the mount for the drone has not. One T joint has been printed and it looks fine but since we cannot cut the carbon rod they legs cannot be completed.

[2017-12-04 08:16] TobiasLundby commented on #64
All the components have been mounted properly on the drone (except the GPS antennas since we have not gotten the new GPS stands). The NEOPIXELs have been connected to a single UBEC thus having to run them at lower brightness. The Toradex OES has been replaced by the RPi 3 rev B.

[2017-12-04 08:18] TobiasLundby commented on #17
The HI (human interaction) has been put on the drone. It has also been connected to the RPi for control and sucessfully tested.

[2017-12-04 08:21] TobiasLundby commented on #22
The indoor positioning system (Marvelmind) is still not working and it therefore does not make sense to devise a test.

[2017-12-04 08:23] tobiasrj20 commented on #72
A initial budget have been made and can be seen in google drive.
We need to talk about what it should contain and how we want it (eg. seperate budget for materials)?

[2017-12-04 08:24] TobiasLundby commented on #57
The cut off board has been connected to the RPi and only needs testing (GPIO functionality already tested so it should work)

[2017-12-04 08:33] mhoejgaard commented on #71
We need to work on pulling missions back from the drone as they do not get through. Kjeld is currently working on it. We will wait and see the outcome.

[2017-12-04 08:36] mhoejgaard commented on #65
We have only got 1 meter of carbon rod which is not enough for two legs. As it took 3 weeks to get we won't be able to make the legs in time.

[2017-12-04 08:38] mhoejgaard commented on #64
We don't have time for this and will accept that the blue bulb touches the ground.

[2017-12-04 08:38] #64 closed, assigned to TobiasLundby, tobiasrj20

[2017-12-04 09:59] GaidarOS commented on #57
The pins are connected on the Pi. High(H)(yellow cable) is connected at pin18(GPIO 24) and Low(L) is connected at pin16(GPIO 23)

[2017-12-04 13:47] bjarkips commented on #60
GSM pre-flight checking has been implemented as a dummy version on the GCS. Since no meaningful info is being transmitted through GSM, this is only useful for checking that the connection is up. In-flight monitoring will be implemented tomorrow, Tuesday December 5 according to SORA strategies.

[2017-12-04 13:52] bjarkips commented on #60
Note: GsmHandler.py uses a lot of CPU and doesn't stop unless killed explicitly.

[2017-12-04 14:49] mhoejgaard opened #73 "Make sure SORA is handled correctly in the code"
**Mathias needs to implement:**
* **A** Increase gps match threshold distance up to 75 meters (5 seconds, 15 m for each second) **Done**
* **B** 10: Geofence breach: Differ between breach and critical breach (distance to the fence) **Done**
* **C** 13: Make it possible to go from land to loiter **Done**
* **E** Might be missing flight termination from the GCS through user input **Done**

* **F** M

[2017-12-04 17:50] mhoejgaard commented on #73
**F**: The webinterface reports that it experiences errors when network is not present but continues when the connection is regained.

It is a major issue that pika does not seem to recover from loss of connection. No solution has been found in pika.

[2017-12-04 19:52] mhoejgaard commented on #73
It is a major issue that pika does not seem to recover from loss of connection. No solution has been found in pika.

[2017-12-04 19:57] mhoejgaard commented on #73
**E** Flight termination through input is available as terminate.

[2017-12-04 20:20] mhoejgaard commented on #73
**C** Fixed with hotfix that toogles loiter when the return to launch button in the webinterface in pushed. It is a hotfix because it does not follow the standard of the node OnboardControl module.

[2017-12-04 20:54] mhoejgaard commented on #73
**A**: Added the time difference between the gps fixes to the mismatch calculation based on the SORA description and the implementatition by group 1.

[2017-12-04 22:42] mhoejgaard commented on #73
**B**: Added differentitaion of "normal" and critical breach. A critical breach should terminate but this is commented out in OnboardControl for now.

[2017-12-05 08:06] TobiasLundby opened #74 "Send the position from the OES"
Instead of sending the position from the GCS received from the OES, the position should be sent from directly from the OES to ensure feedback to the user.

[2017-12-05 10:03] bjarkips commented on #73
**G:** ```gcs_control_node``` has been updated to monitor the gsm connection. After 10 seconds of connection loss, if the drone is in the air, ```gcs_control_node``` calls ```/drone_communication/land```. This has been successfully tested in simulation.

[2017-12-05 12:02] TobiasLundby opened #75 "Adjust FC parameters according to SORA and update ETA calculation"
The parameters on the FC should match the functionality described in SORA. Additionally the ETA calulaction should be improved to include these changes (still calculates as straight line distance).

[2017-12-06 19:58] mhoejgaard commented on #48
The software has been tested on the drone and minor bugs like misspellings have been fixed. The test was successful and the drone reacted as expected.

[2017-12-06 20:00] mhoejgaard commented on #57
The board is tested and works as expected. The test has been performed by simple turning the cutting on and off with the rpi.

[2017-12-06 20:04] mhoejgaard commented on #42
The gsm with a 4G modem performs very good.

[2017-12-09 19:53] mhoejgaard commented on #71
An option to upload missions through gsm and the OES has been added. The gcs_control node has been modified to send a path to the gsm_talker which publishes it to the drone as a `type=MISSION`. On the drone it is received by `gsm_listener` put into the `command_queue` and finally parsed by `OnboardControl` which in term calls the upload method in `DroneHandler`.

DroneHandler uses the waypoint mod

[2017-12-09 19:53] #71 closed, assigned to mhoejgaard

[2017-12-10 16:48] bjarkips commented on #60
SLNK (GSM) monitoring has been implemented. A landing command is sent through PLNK after SLNK loss timeout.
PLNK monitoring has been implemented. A (dummy) landing command is sent through SLNK after PLNK loss timeout. (Pushed to separate branch ```land_on_plnk_loss``` due to ongoing telemetry issues).

[2017-12-10 16:50] bjarkips commented on #73
**D, H Done.** See comments on issue #60.

[2017-12-19 13:46] bjarkips commented on #73
Current status is good enough for VLOS, this may need reopening for all EVLOS specifications.

[2017-12-19 13:46] #73 closed, assigned to mhoejgaard, bjarkips

[2017-12-19 14:16] #75 closed, assigned to TobiasLundby

[2017-12-19 14:20] bjarkips commented on #24
This has been implemented as a milestone.

Duplicate.

[2017-12-19 14:20] #24 closed, assigned to TobiasLundby, mhoejgaard, bjarkips, tobiasrj20, GaidarOS

[2017-12-19 14:22] bjarkips commented on #65
Reopened for potential future improvements.

[2017-12-19 14:22] bjarkips commented on #41
Reopened for future improvement.

[2017-12-20 12:22] #15 closed, assigned to tobiasrj20

[2017-12-20 12:22] #20 closed, assigned to TobiasLundby, mhoejgaard, bjarkips

[2017-12-20 12:22] #39 closed, assigned to tobiasrj20

[2017-12-20 12:22] #40 closed, assigned to tobiasrj20

[2017-12-20 12:22] #51 closed, assigned to TobiasLundby, mhoejgaard